
.row
  .hero-unit
    img.pull-right(src="/img/logo-demo-project.png")
    h1 Welcome!
    p Hello to the index page of the RailwayJS demo project
    | This is an unofficial project to evaluate the power of the NodeJS Framework RailwayJS
  .span6
    h2 On this page you can see
    ul
      li ... explore login functionality
      li ... usage of jade templates
      li ... mysql orm with jugglingdb

  .span6
    h2 What next?
    - if(UserIsAuthenticated(request.session.user) == false || request.session.user.__isAnonymousUser == true) {
      p
        a.btn.btn-primary(href="#{path_to.login}") Login
    - } else {
      p.btn-group
        a.btn.btn-primary(href="#{path_to.logout}") View Profile
        a.btn(href="#{path_to.logout}") Logout
    - }

